<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Conteo</h5>
          <p class="card-text mt-4 mb-4" style="font-size: xx-large; font-weight: 600;">{{ numero }}</p>
          <div class="row">
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
              <button type="button" class="btn btn-success" (click)="incremento()">+ Increment</button>
              <button type="button" class="btn btn-danger" (click)="decremento()">- Decrement</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Conteo</h5>
          <p class="card-text mt-4 mb-4" style="font-size: xx-large; font-weight: 600;">{{ numero1 }}</p>
          <div class="row">
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
              <button type="button" class="btn btn-success" (click)="incremento1()">+ Increment</button>
              <button type="button" class="btn btn-danger" (click)="decremento1()">- Decrement</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
